
html, body {
    margin:0;
    padding:0;
}

.content-pane {
    font-family: 'Source Serif 4';
    padding:0px 0px 0px 10px;
    font-weight:400;
    font-size:18px;
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eee;
    padding:0;
    margin:0;
    font-size:30px;
    font-family: 'Josefin Sans';
    font-weight:600;
}

.topBrand {
    width:300px;
    height:50px;
    display:flex;
    flex-direction: row;
    margin:auto 0px;
}

.topLogo {
    width:50px;
    height:40px;
    object-fit: contain;
    margin:auto 0px;
}
.topName {
    padding: 0px 0px 0px 5px;
    margin:auto 0px;
}

.nav {
    display:flex;
    flex-direction: row;
}
.nav li {
    list-style-type: none;
    padding:0px 30px;
}
.nav li a {
    text-decoration: none;
}