<div class="topBar">
    <div class="topBrand">
        <img src="/assets/esri-logo.jpg" class="topLogo"/>
        <p class="topName">Harpeth Harvest</p>
    </div>
    <div class="navContainer">
        <ul class="nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/research">Research</a>
            </li>
            <li>
                <a href="/consulting">Consulting</a>
            </li>
            <li>
                <a href="/">About</a>
            </li>
        </ul>
    </div>
</div>